@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navbar-light .navbar-nav .nav-link {
  color: #264f9c;
  font-size: 19px;
  font-weight: 600;
}
a{
  text-decoration: none;
}
.input-group-text {
  font-size: 22px;
  background: none;
}
a {
  color: #264f9c;
}
body {
  font-family: "Poppins";
  color: #353536;
}
.bg-light {
  background-color: #f0f0f0 !important;
}
.logo-size {
  width: 140px;
  height: 60px;
}
.logo-small {
  width: 115px;
  height: 47px;
}
.text-blue {
  color: #264f9c;
}
.text-green {
  color: #44973d;
  font-size: 24px;
}
.text-grey {
  color: #1e1e1e;
}
.about-circle {
  width: 80%;
  min-height: 400px;
  background-color: #264f9c;
}
.about-rectangle {
  width: 100%;
  min-height: 200px;
  background-color: #264f9c;
}
.number-rectangle {
  width: 17%;
  height: 120px;
  margin-right:4%;
  background-color: #f0f0f0;
}
/* .list-inline-item:not(:last-child){
  margin-right: 6.7rem;
} */
.btn-outline-primary {
  border-color: #264f9c;
  border-width: 2px;
  border-radius: 7px;
}
.btn-outline-primary:hover {
  border-color: #264f9c;
  background-color: #264f9c;
  color: white;
  border-width: 2px;
  border-radius: 7px;
}
.background-color {
  background-color: #f0f0f0;
}
.map-container {
  height: 500px;
  width: 100%;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.form-background {
  background-color: #f8f6f4;
  border-radius: 10px;
}
.recommended-background{
  background-color: #f8f6f4;
  border-radius:5px;
  min-width:100%;
}
.select{
  min-width:100%;
}
.select:focus{
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.favorite-icon{
  position:absolute;
  right:10%;
  color:#BD3F2E;
  cursor:pointer;
}
.favorite-icon:focus,.favorite-icon:hover{
  color:#BD3F2E;
}
.submit {
  background-color: #264f9c;
  border-radius: 10px;
}
.width {
  width: 100%;
}
.about-image {
  position: absolute;
  top: 68%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.about-mission {
  position: absolute;
  top: 8%;
  left: 6%;
  transform: translate(0%, 0%);
  width: 556px;
}
.relative {
  position: relative;
  display: block;
}
.background-image {
  background: url(./images/team-image.png) no-repeat 32% 64% #f0f0f0;
}
.slider-background {
  /* background: url(images/background-1.svg) no-repeat center center; */
  height: 336px;
}
.products-image {
  background-color: #264f9c;
  overflow: hidden;
}
.font-33 {
  font-size: 33px;
}
.font-24 {
  font-size: 24px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-14 {
  font-size: 14px;
}
.background-blue {
  background-color: #264f9c;
}
.cursor {
  cursor: pointer;
}
.percentages-rectangle {
  width: 25%;
  min-height: 40px;
  background-color: #f0f0f0;
}
.about-background {
  background-image: url(./images/about-imagenew3.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 650px;
  overflow:hidden
}
.font_color {
  color: #1c2126;
}
.explore {
  font-size: 28px;
  border-bottom: 2px solid #264f9c;
}
.top-position {
  top: 77%;
  left: 10%;
  width: 100%;
}
.searchBox {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
  background: #f0f0f0;
  border-radius: 40px;
  padding-left:10px;
}

.searchBox:hover > .searchInput {
  width: 180px;
  background: #264f9c;
  /* padding: 0 6px; */
  color:#f0f0f0;
}

.searchBox:hover > .searchButton {
  /* background: white; */
  color: #264f9c;
}

.searchButton {
  color: #264f9c;
  float: right;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: 0;
  font-size:22px;
}

.searchInput {
  border: none;
  background: #f0f0f0;
  outline: none;
  float: left;
  padding: 0;
  color: #264f9c;
  border-radius:40px;
  font-size: 16px;
  transition: 0.4s;
  line-height: 35px;
  width: 0px;
  padding-left:10px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
.carousel-indicators [data-bs-target] {
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  opacity: 1;
}
.carousel-indicators [data-bs-target]:hover,.carousel-indicators [data-bs-target].active {
  background-color: #fff;
  border: 1px solid #fff;
  color: white;
  width:4%;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  opacity: 1;
}
/* .carousel-indicators{
  top:79%;
} */
.carousel-caption{
  bottom:3.25rem;
}
.accordion-button{
  background-color:#F8F6F4;
  color:#353536;
  border-radius: 10px;
}
.accordion-button:not(.collapsed),.accordion-button:hover{
  background-color:#264F9C;
  color:#F0F0F0;
  border:none;
  outline:0;
}
.accordion-button:focus{
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/* .accordion-button::after,.accordion-button:not(.collapsed),.accordion-button:hover{
  background-image:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(38,79,156)" className="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>') no-repeat;
}
.accordion-button:not(.collapsed)::after{
  background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(255,255,255)" className="bi bi-dash" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>') no-repeat;
} */
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='rgb(38,79,156)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='rgb(255,255,255)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.product-item{
  background:#F8F6F4;
  border-radius:15px;
  outline:0 !important;

}
.page-item:active{
  background:#264F9C;
  outline:0 !important;
}
/* .pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    position: relative;
    outline:0 !important;
}
.pagination li a.page-link{
    color: #333333;
    background:transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    outline:0 !important;
    border:0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link{
  color: #333333;
  background:transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  outline:0 !important;
  border:0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #264F9C;
    outline: none;
    box-shadow:none !important;
    border:1px solid #ffffff !important;
}
.pagination li:first-child a.page-link:hover,
.pagination li:first-child a.page-link:focus,
.pagination li:last-child a.page-link:hover,
.pagination li:last-child a.page-link:focus{
    color: #fff;
    background: #264F9C;
    box-shadow: 0;
    outline:0 !important;
    border:0;
    border-radius: 50%;
} */
.form-control:focus{
  /* border:1px solid #f8f6f4; */
  outline: none;
    box-shadow:none !important;
    border:1px solid #f8f6f4 !important;
    background:#f8f6f4
}
/* .pagination li a.page-link:before{
    content: '';
    background-color:transparent;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    outline:0 !important;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before{
    border-radius: 50%;
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
    }
} */
.background-white{
  background:#ffffff;
}
a:hover{
  text-decoration: none;
}
.pagination {
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	/* margin-top: 50px; */
	gap: 5px;
}

.pagination .page-number {
	font-size: 14px;
	/* font-weight: 600; */
	color: #333333;
	background:transparent;
	padding: 7px 15px;
	border-radius: 50%;
	cursor: pointer;
	/* transition: all 0.5s ease; */
}

.pagination .page-number:hover {
	color: #fff;
  /* border-radius: 50%; */
	background: #264F9C;
}

.pagination .active {
	color: #fff;
  /* border-radius: 50%; */
	background: #264F9C;
}

.pagination .active:hover {
	color: #264F9C;
	background: #fff;
  border-radius: 50%;
}

.pagination.previous:hover {
	color: #264F9C;
	background: transparent;
  border-radius: 50%;
}
.content-carousel {
	width: 600px;
	display: block;
	margin: 0 auto;
}
.owl-carousel {
	width: calc(100% - 170px);
}
.owl-carousel div {
	width: 100%;
}
.owl-carousel .owl-controls .owl-dot {
	background-size: cover;
	margin-top: 10px;
}
.owl-carousel .owl-dots {
	position: absolute;
	top: 0;
	right: -170px;
	width: 150px;
	height: 100%;
}
.owl-carousel .owl-dot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}